@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Play Date is on the cusp of reinventing the way people enjoy recreational activity. Stay up to date as Play Date continues to revolutionize the modernization of your local parks.</p>
